<html>
<head id="init">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
	<title>News</title>

	<link href="css/style.css" rel="stylesheet">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">             
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="https://kit.fontawesome.com/54e64f34b2.js" crossorigin="anonymous"></script>
		<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body> 

		<div class="preloader-wrapper">
			<div class="preloader">
				<img src="images/loader.gif" alt="Loading..." width="100px">
			</div>
		</div>


		<header>
			<div class="container">
				<div class="row">
					<div class="col s3">
						<a href="#" class="logo">
							<img src="images/logo.png" alt="Универмаг Московский">
						</a>
					</div>

					<div class="col s9">
						<ul class="nav">
							<li class="flr">
								<a href="#">
									Выйти
									<i class="fas fa-sign-out-alt"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</header>


		<div class="wrapper admin">

			<div class="container">
				<div class="row">
					
					<div class="col s12">
						<a href="#" class="btn-c btn-cancel">
							<i class="fas fa-chevron-left"></i>
							Назад
						</a>
					</div>


					<div class="col s12">
						<div class="user_banner">
							<div class="user">
								<div class="avatar">
									<img src="images/avatar.png" alt="Avatar">
								</div>
								<div class="details" style="text-align: left; padding-left: 20px;">
									<div class="buttons">
										<div>
											<a href="#" class="btn-c btn-cancel btn-sm">
												Загрузить новое фото
											</a>
										</div>
										<br>
										<div><a href="#" class="btn-c btn-cancel btn-sm">
											Удалить
										</a></div>
									</div>
								</div>
							</div>

							<div class="user_edit">
								<div class="input-field">
									<input value="Козак Алексндр Петрович" id="first_name" type="text" class="validate">
									<label for="first_name">ФИО</label>
								</div>

								<div class="input-field">
									<select multiple>
										<option value="" disabled selected>Выберите отдел</option>
										<option value="1">Lorem ipsum.</option>
										<option value="2">Lorem ipsum dolor sit.</option>
										<option value="3">Lorem ipsum dolor sit amet.</option>
									</select>
									<label>Отдел</label>
								</div>

								<div class="input-field">
									<input id="first_name" type="text" class="validate">
									<label for="first_name">Номер телефона</label>
								</div>

								<div class="input-field">
									<input id="first_name" type="text" class="validate">
									<label for="first_name">Email</label>
								</div>

								<div class="tar">
									<a class="btn-c btn-primary">Сохранить</a>
									<a class="btn-c btn-cancel">Отмена</a>
								</div>
							</div>
						</div> 

					</div>
					

				</div>
			</div>

		</div>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>  
		<script src="https://www.chartjs.org/dist/2.9.3/Chart.min.js"></script>
		<script src="js/script.js"></script>

	</body>
	</html>