<html>
<head id="init">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Profile Stats 1</title>

    <link href="css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">             
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/54e64f34b2.js" crossorigin="anonymous"></script>
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
  </head>
  <body> 

    <div class="preloader-wrapper">
        <div class="preloader">
            <img src="images/loader.gif" alt="Loading..." width="100px">
        </div>
    </div>


    <header>
        <div class="container">
            <div class="row">
                <div class="col s3">
                    <a href="#" class="logo">
                        <img src="images/logo.png" alt="Универмаг Московский">
                    </a>
                </div>

                <div class="col s9">
                    <ul class="nav">
                        <li>
                            <a href="#">
                                История
                            </a>
                        </li>
                        <li class="withDropdown">
                            <a href="#">
                                Адаптация
                                <i class="fas fa-chevron-down"></i>
                            </a>
                            <ul>
                                <li><a href="#">Lorem ipsum.</a></li>
                                <li><a href="#">Dolor, quasi!</a></li>
                                <li><a href="#">Obcaecati, sit.</a></li>
                            </ul>
                        </li>
                        <li class="withDropdown">
                            <a href="#">
                                Аттестация
                                <i class="fas fa-chevron-down"></i>
                            </a>
                            <ul>
                                <li><a href="#">Lorem ipsum.</a></li>
                                <li><a href="#">Dolor, quasi!</a></li>
                                <li><a href="#">Obcaecati, sit.</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">
                                Опросы
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Связь
                            </a>
                        </li>
                        <li class="withSep">
                            <a href="#">
                                Козак А.
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>


    <div class="wrapper news_wr">
        <div class="user_banner">
            <div class="user">
                <div class="avatar">
                    <img src="images/avatar.png" alt="Avatar">
                </div>
                <div class="details">
                    <div class="name">
                        Александр Козак
                    </div>
                    <div class="job_name">
                        Креативный директор
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col s12">
                    <ul class="wr_tabs">
                        <li><a class="active" href="#">Статистика</a></li>
                        <li><a href="#">Коллеги</a></li>
                        <li><a href="#">Адаптация</a></li>
                        <li><a href="#">Обучение</a></li>
                    </ul>
                </div>

                <div class="col s12">
                    
                    <div id="vartival_chart">
                        <canvas id="myChart"></canvas>
                    </div>

                </div>
            </div>
        </div>

    </div>


    <footer>
        <div class="container">
            <div class="row">
                <div class="col s3">
                    <a href="#" class="logo">
                        <img src="images/logo.png" alt="Универмаг Московский">
                    </a>
                </div>
                <div class="col s9">
                    <ul class="nav">
                        <li>
                            <a href="#">
                                Задать вопрос
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Контакты
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Сообщить об ошибке
                            </a>
                        </li>
                        <li class="withSep">
                            <a href="#" id="to_top">
                                Наверх
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>  
    <script src="https://www.chartjs.org/dist/2.9.3/Chart.min.js"></script>
    <script src="js/script.js"></script>

    <script>
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11],
                datasets: [{
                    label: '# of Votes',
                    data: [12, 19, 3, 5, 2, 3, 3, 10, 12, 12, 2],
                    backgroundColor: [
                    '#414141',
                    '#E3E3E3',
                    '#414141',
                    '#E3E3E3',
                    '#414141',
                    '#E3E3E3',
                    '#414141',
                    '#E3E3E3',
                    '#414141',
                    '#E3E3E3',
                    '#414141',
                    ]
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    </script>
</body>
</html>